--markup markdown
--markup-provider kramdown
--no-private
--exclude lib/carray/obsolete.rb
--exclude lib/carray/autoload.rb
--exclude 'lib/carray/autoload/'
--readme README.md
--files NEWS.md,TODO.md 
lib/carray.rb 
ext/ruby_carray.c 
ext/ca_obj_array.c 
ext/ca_obj_bitarray.c 
ext/ca_obj_bitfield.c 
ext/ca_obj_block.c 
ext/carray_attribute.c 
ext/carray_call_cfunc.c 
ext/carray_cast.c 
ext/carray_class.c 
ext/carray_conversion.c 
ext/carray_copy.c 
ext/carray_core.c 
ext/carray_data_type.c 
ext/carray_element.c 
ext/carray_generate.c 
ext/carray_loop.c
ext/carray_mask.c 
ext/carray_operator.c 
ext/carray_order.c 
ext/carray_sort_addr.c 
ext/carray_test.c 
ext/carray_utils.c 

